<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Enviar parámetros del request HTTP GET - URL</title>
</head>
<body>
	<h1>Enviar parámetros del request HTTP GET - URL </h1>
	<ul>
		<li>
			<a th:href="@{/params/string(texto='hola')}">params/string?texto=hola</a>
		</li>
		<li>
			<a th:href="@{/params/string(texto='chau')}">params/string?texto=chau</a>
		</li>
		<li>
			<a th:href="@{/params/mix-params(saludo='mix-params', numero=2)}">params/string?saludo=mix-params&numero=2</a>
		</li>
	</ul>
</body>
</html>